.stream-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.stream-card {
    display: flex;
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.live-stream {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.live-stream iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.live-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 8px;
}

.offline img {
    width: 100%;
    height: auto;
}

.offline p {
    color: red;
    margin-top: 20px;
    text-align: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100vh;
}

.error-message {
    text-align: center;
    color: red;
}
